.OnineEducationContainer {

    padding-top: 65rem;
    padding-bottom: 10rem;

}

.myIcon {
    display: flex;
    gap: 2rem;

}


.icon {

    font-size: 2rem;

    color: var(--secondary__blue-color);

}


@media screen and (min-width:376px) {
    .OnineEducationContainer {
        padding-top: 65rem;
    }
}


@media screen and (min-width:576px) {
    .OnineEducationContainer {
        padding-top: 65rem;
    }
}

@media screen and (min-width:786px) {
    .OnineEducationContainer {
        padding-top: 45rem;

    }

    .OnineEducationContainer {
        display: flex;
    }

    .rightContentSide {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        align-items: flex-start;
    }
}