.main__services_-container {
    margin-top: 36rem;
}

#courseCardContainer {
    margin: 0rem 1rem;
}

.searchContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer ul {

    display: block;
    border: 2px solid var(--primary__blue-color);
    width: 300px;
    border-radius: 30px;
    background-color: var(--second__white-color);

}

.searchContainer ul li button {
    border: none;
    padding: 1rem;
}

.searchContainer ul li button:hover {
    text-decoration: underline;
    color: var(--primary__orange-color);
}


#courseCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media screen and (min-width:576px) {
    .main__services_-container {
        margin-top: 40rem;
    }

    #courseCardContainer {
        margin: 0rem 1.5rem;
    }

    #courseCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



@media screen and (min-width:992px) {

    #courseCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #courseCardContainer {
        margin: 0rem 2rem;
    }

    .searchContainer ul {

        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--primary__blue-color);
        width: 500px;
        border-radius: 30px;
        background-color: var(--second__white-color);

    }

}