/* Overlya background blue color  */
.overlayHomeBackground {
    background-color: var(--primary__blue-color);

}

.carousel-control-next-icon:hover,
.carousel-control-next:hover {
    color: var(--primary__orange-color);
}


.controlButton:hover {
    background-color: var(--primary__orange-color);

}

#homeCaptionContainer {
    padding-bottom: 3rem;
}


.timTomText {
    font-size: 64px;
    font-weight: 900;
    text-shadow: 5px 5px 2px var(--primary__blue-color);

}

#wrapTexts {
    background-color: var(--primary__blue-color);
    text-transform: capitalize;
}

/* How to write on Images */
.slideImage {
    position: relative;
}

.coursesTextOnImage {
    position: absolute;
    margin-top: 50px;
}

.courseSlideTex {
    font-size: 32px;
}

.sliderBtn {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    font-size: x-large;
}

.slideImage {
    width: 100%;
    height: 100%;
}

#spanLearnMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#learnMoreBtn:hover {
    background-color: var(--primary__blue-color);
    color: var(--primary__white-color);
}

#OurCourseBtn {
    background-color: var(--primary__blue-color);
    color: var(--primary__white-color);
}

#OurCourseBtn:hover {
    background-color: var(--primary__white-color);
    color: var(--primary__blue-color);
}

@media screen and (max-width:912px) {

    .courseSlideTex {
        font-size: 32px;
    }

    .timTomText {
        margin-top: 2rem;
        font-size: 42px;
    }

    .sliderBtn {
        padding: 0.8rem 1.5rem;
        margin: 1rem;
        font-size: large;
    }

    /* #home__slider {
        padding-top: 32rem;
    } */

}

@media screen and (max-width:800px) {
    #homeCaptionContainer {
        padding-bottom: 3rem;
    }


    /* #home__slider {
        padding-top: 30rem;
    } */
}

@media screen and (max-width:576px) {

    #homeCaptionContainer {
        padding-bottom: 3rem;
    }

    .courseSlideTex {
        font-size: 24px;
    }

    .controlButton {
        padding: 0.8rem;
    }

    .slideImage {
        width: 120%;
        height: 100vh;
    }

    .timTomText {

        font-size: 36px;
    }

    .sliderBtn {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        font-size: x-small;
    }

    /* #home__slider {
        padding-top: 36rem;
    } */

}

@media screen and (max-width:414px) {
    #homeCaptionContainer {
        padding-bottom: 3rem;
    }


    .courseSlideTex {
        font-size: 24px;
    }

    .controlButton {
        padding: 0.8rem;
    }

    .slideImage {
        width: 150%;
        height: 100vh;
    }

    .timTomText {

        font-size: 34px;
    }

    .sliderBtn {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        font-size: x-small;
    }

    /* #home__slider {
        padding-top: 54rem;
    } */
}

@media screen and (max-width:386px) {

    #homeCaptionContainer {
        padding-bottom: 3rem;
    }


    .courseSlideTex {
        font-size: 20px;
    }

    .controlButton {
        padding: 0.8rem;
    }

    .slideImage {
        width: 150%;
        height: 100vh;
    }

    .timTomText {

        font-size: 32px;
    }

    .sliderBtn {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        font-size: x-small;
    }

    /* #home__slider {
        padding-top: 54rem;
    } */
}