.socialMediaIconContainer {
    /* background-color: red; */
    padding: 0.5rem;
}

.socialMediaIconContainer .icon {
    background-color: var(--primary__blue-opacityr);
    color: var(--second__white-color);
    padding: 0.5rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 20%;
}

.socialMediaIconContainer .icon:hover {
    border-radius: 50%;
    color: var(--primary__orange-color);
}





/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}