.cards__-container {
    background-color: var(--primary__blue-color);
}

.iconCssController {
    color: var(--primary__orange-color);
}

.cards__content-container-item {
    background-color: rgb(20, 20, 55);
    /* box-shadow: rgba(51, 57, 72, 0.24) 0px 3px 8px; */
    box-shadow: rgba(249, 249, 250, 0.25) 0px 50px 100px -20px, rgba(254, 254, 254, 0.3) 0px 30px 60px -30px;
}

.awardContentContainer {
    color: var(--primary__white-color);
    background-color: var(--third__blue-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.5rem;
}

.awardContentContainer .award-item {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.awardContentContainer .award-item:first-child {
    padding-top: 2rem;
}

.awardContentContainer .award-item:last-child {
    padding-bottom: 2rem;
}

.awardContentContainer .award-item .awardIconContainer .awardIcon {
    font-size: 3rem;
    color: var(--primary__orange-color);
}

.awardContentContainer .award-item .bigContent p {
    font-size: 3rem;
    font-weight: 700;
}

.all____cards__content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.cards__content-container {
    margin-top: 1rem;
}

/* MEDIA QUERIES */


@media screen and (min-width:376px) {}

@media screen and (min-width:576px) {
    .awardContentContainer {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (min-width:786px) {
    .all____cards__content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .awardContentContainer {
        gap: 1.5rem;

    }
}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}