.professionalContentContainer {
    padding: 8rem 0rem;
}

.profetionContent {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primary__blue-color);

    margin: 0rem 4rem;

}

@media screen and (min-width:786px) {
    .profetionContent {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}