.professionalContentContainer {
    padding: 8rem 0rem;
}

.profetionContent {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--primary__blue-color);

    margin: 0rem 4rem;

}

@media screen and (min-width:786px) {
    .profetionContent {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}