.upcomingCourseContainer {
    padding: 4rem 0rem 8rem 0rem;
}

.iconLesson {
    font-size: large;
    margin-right: 0.25rem;
}

.innerImageContainer {
    margin-top: -3rem;
}

.imageContainer,
.innerImageContainer {
    background: linear-gradient(360deg, rgba(1, 5, 46, 0.81) 19.6%, rgba(0, 0, 0, 0) 45.8%);
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#cardsContainer {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width:576px) {
    #cardsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:992px) {
    #cardsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}