.About__Us_main-container {
    margin-top: 32rem;
}



.about__us-container {
    scroll-behavior: none;

}

#aboutUsContainer {
    overflow-x: hidden;
}

.headerAboutUsTitle {
    font-size: 2rem;
    padding: 2rem 0rem;
}

.aboutUsIcon {
    color: var(--primary__orange-color);
    margin-right: 0.75rem;
}

.titleCssController {
    font-size: 20px;
    padding: 1rem 0rem;
    font-weight: 700;
}

.contentCssController {
    color: var(--third__white-color);
}

.allCards__container {
    background-color: var(--primary__blue-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}




.ParentOfStudents {
    padding: 0.2rem;
}

@media screen and (min-width:376px) {}


@media screen and (min-width:576px) {
    .About__Us_main-container {
        margin-top: 40rem;
    }



    .about__us_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .ParentOfStudents {
        padding: 2rem;
    }


}

@media screen and (min-width:786px) {
    .ParentOfStudents {
        padding: 4rem;
    }
}



/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}