.searchContainer {
    margin: 0rem 1rem;
}

.backGroundImageFindCourese,
.SearchInput {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px 8px rgba(158, 207, 235, 0.29);
    border-radius: 29px;
}

#findCourseContainer {
    border-bottom: 5px solid var(--primary__orange-color);
}

#findCoursesMainContainer {
    margin: -3rem 1rem 0rem 1rem;
}

.searchContainer input,
.searchButton {
    padding: 0.8rem;
    font-size: 1.2rem;
}

#ovaerLayHomeSearch {
    background-color: white;
    opacity: 0.9;

}


.searchContainer {
    padding-bottom: 2rem;
}


@media screen and (min-width:376px) {


    #findCourseContainer {
        margin: -5rem 0rem 0rem 0rem;
    }
}


@media screen and (min-width:576px) {
    .findCoursesMainContainer h1 {
        font-size: 36px;
        padding: 4rem;
    }

    .searchContainer input,
    .searchButton {
        padding: 1rem;

    }

    .searchContainer {
        margin: 0rem 2rem;
    }

    #findCoursesMainContainer {
        margin: -3rem 10rem 0rem 10rem;
    }


    #findCoursesMainContainer h1 {
        font-size: 32px;
        padding-top: 1rem;

    }


}

@media screen and (min-width:786px) {
    .mainSearchHeader {
        font-size: large;

    }

    #findCoursesMainContainer h1 {
        font-size: 48px;
        padding: 2rem;
    }

    #findCoursesMainContainer {
        margin: 1.5rem 15rem 0rem 15rem;
    }

    .SearchInput {
        width: 100vw;
    }


}

@media screen and (max-width:960px) {
    .mainSearchHeader {
        font-size: xx-large;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}