#findCourseContainer {
    margin: -2rem 0rem 0rem 0rem;
    background-image: url("../../../assets/images/consultancy.jpeg");
}

.ovaerLayHomeSearch {
    background-color: var(--primary__orange-color);
    opacity: 0.9;
}

.findCoursesMainContainer h1 {
    font-size: 32px;
}



.searchContainer {
    padding-bottom: 2rem;
}

.findCoursesMainContainer {
    margin: -4rem 1rem 1rem 1rem;
    font-size: 16px;
}


@media screen and (min-width:376px) {

    .findCoursesMainContainer {
        margin: -4rem 1rem 1rem 1rem;
        font-size: 16px;
    }

    #findCourseContainer {
        margin: -2rem 0rem 0rem 0rem;
    }
}


@media screen and (min-width:576px) {
    .findCoursesMainContainer {
        margin: -2rem 1rem 1rem 1rem;
        font-size: 20px;
    }

}

@media screen and (min-width:786px) {
    .mainSearchHeader {
        font-size: large;
    }

    .findCoursesMainContainer h1 {
        font-size: 32px;
    }
}

@media screen and (max-width:960px) {
    .mainSearchHeader {
        font-size: xx-large;
    }

}