#mainHomePageContainer {
    margin-top: 14rem;
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden;
    overflow-y: visible; */

}

.main__header-container {
    overflow: hidden;
}

.content__HomePage {
    margin-top: 4rem;
    background-color: var(--secondary__blue-color);
    opacity: 0.8;
    font-size: 1.2rem;
}


.apply {
    background-color: var(--primary__orange-color);
    color: var(--priamry__white-color);
}

.apply:hover {
    background-color: white;
    color: var(--primary__orange-color);
    width: 50%;
}



@media screen and (min-width:376px) {}


@media screen and (min-width:576px) {
    #mainHomePageContainer {
        margin-top: 16rem;
    }
}

@media screen and (min-width:786px) {}