#mainHomePageContainer {
    margin-top: 14rem;
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden;
    overflow-y: visible; */
}

.main__header-container {
    overflow: hidden;
}



@media screen and (min-width:376px) {}


@media screen and (min-width:576px) {
    #mainHomePageContainer {
        margin-top: 16rem;
    }
}

@media screen and (min-width:786px) {}