.latestContent div {
    display: flex;
    flex-direction: column;

}

.footerContainer {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


.center_content {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-block-start: 1em;
}



.latestContent {
    display: flex;
    gap: 1rem;

}

.footerCourse {
    color: var(--third__white-color);
    text-transform: lowercase;
}

.footerCourse:hover {
    color: var(--primary__orange-color);
}


.goToTOp {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;

}

.newsLetter {
    display: flex;
}