.parent___of__students-container {
    background-image: url("../../../assets/images/secondQuestion.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}



.whatOurStaffSaysContainer .staffDetails .leftSideContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

.whatOurStaffSaysContainer .staffDetails .leftSideContent .imageStaffContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.namesOfStaff {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary__blue-color);
}

.Specialization {
    color: var(--third__white-color);
}

.rightSideContent {
    display: flex;
}

.staffCollectionImages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}



.imageCollectionContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quotation {
    font-size: xx-large;
    color: var(--primary__blue-color);
}

@media screen and (min-width:376px) {
    .staffCollectionImages {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}


@media screen and (min-width:576px) {
    .staffCollectionImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width:786px) {

    .staffCollectionImages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}