ul>li {
    list-style-type: none;
    text-decoration: none;

}

#topNavBar {
    background: var(--gradient);
}

#topNavBar ul>li {
    display: flex;
    gap: .5rem;
    color: var(--primary__white-color);
}

.selection::selection {
    background-color: var(--primary__orange-color);
}


#social__media {
    display: flex;
    gap: 1rem;

}

#project_logo {
    margin-left: 2rem;
    width: 200px;
    height: 80px;
    display: block;
}

#body__nav {
    box-shadow: var(--box__shadow);
}


.icons:hover {
    color: var(--primary__orange-color);
    font-size: 1.5rem;
    transition: 0.5s ease-in-out;
}

.body__nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
}

/* only show on medium and small screens */

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_links {
    display: flex;
    align-items: center;
    gap: 1.5em;
    perspective: 400px;

}


#NavLink_home:active,
#NavLink_home::after {
    border-bottom: 8px solid var(--primary__orange-color);
}

#NavLink_home:hover {
    background-color: var(--primary__blue-color);
    border-radius: 0px 20px 0px 20px;
    color: var(--primary__white-color);
    padding: 0.3rem 0.5rem;
}

.nav_toggle_btn {
    display: none;

}

.nav_links a {
    transition: var(--transition);
    text-decoration: none;
}

.nav_links a:hover {
    color: var(--color-secondary);

}

.active-nav {
    position: relative;
    display: flex;
}

/* services navigation */
.list-submenu {
    display: none;
}

.list-menu:hover .list-submenu {
    display: grid;
    grid-template-columns: 1fr;
    background-color: red;
    transform: translateY(100px);
    margin-top: 0;

}

.list-span-sub-menu {
    display: flex;
    gap: 0.25rem;
}

#serviceId {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;

}




/* Media screen for (medium and small screens) */
@media screen and (max-width:960px) {
    #project_logo {
        width: 200px;
        height: 80px;
        display: block;
        margin-bottom: -4rem;
    }

    .nav_toggle_btn {
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary__blue-color);
    }

    .nav_links {
        position: absolute;
        flex-direction: column;
        top: 80%;
        right: 100px;
        gap: 0;
        gap: 2rem;
        margin-bottom: 1px solid var(--primary__blue-color);

    }

    .nav_links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
        background-color: var(--primary__blue-color);
        border-radius: 0px 20px 0px 20px;
    }



    .nav_links li a {
        background-color: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }

    .show_nav {
        display: flex;
        background-color: var(--primary__white-color);
        border-bottom: 10px solid var(--primary__blue-color);
        padding-bottom: 1rem;
        width: 40vw;
        padding-top: 1rem;
        margin-top: 0.5rem;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;

    }

    .hide_nav {
        display: none;
    }
}


@media screen and (max-width:576px) {
    #project_logo {
        width: 100px;
        height: 60px;
        display: block;
        margin-bottom: -2rem;
    }

    .nav_toggle_btn {
        display: inline-block;
        background: transparent;
        font-size: 1rem;
        cursor: pointer;
        color: var(--primary__blue-color);
    }

}