.content-container {
    height: 130vh;
    width: 100vw;
    padding: 70px 70px 4rem 70px;
    background: linear-gradient(90deg, rgb(238, 237, 255) 0%, rgba(72, 85, 148, 0.824) 0%, rgba(0, 212, 255, 1) 90%);
}

.trainningContent-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
}

.leftTrainningContent,
.rightContentContainer {
    width: 100%;
    height: 100%;
    display: flex;

    padding: 0rem 0rem 0rem 1rem;

}

.content1,
.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    gap: 20px;


}



.trainingIcon {
    color: aquamarine;
    font-size: 2rem;
    margin-right: 1rem;
}

.btTobeCentered {
    width: 100vw;
    height: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 2rem 3rem 2rem 2rem; */
    margin-top: 4rem;
}

.btTobeCentered .btnOrange {
    width: 60vw;

}


/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .trainningContent-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
    }

    .content-container {
        height: 190vh;
        width: 100vw;
        padding: 70px;

    }

    .leftTrainningContent,
    .rightContentContainer {
        width: 100%;
        height: 100%;
        display: flex;
        border-left: 10px dashed rgb(115, 163, 245);
        padding: 0rem 0rem 0rem 1rem;
        border-radius: 10px;
    }

    .content1,
    .content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 20px;
        gap: 20px;


    }

    .trainingIcon {
        color: aquamarine;
        font-size: 2rem;
        margin-right: 1rem;
    }

    .btTobeCentered {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0rem 0rem;

    }

    .btTobeCentered .btnOrange {
        width: 20vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .content-container {
        height: 100vh;
        width: 100vw;

    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}